<mat-sidenav-container>
  <mat-sidenav [style.background-color]="darkMode ? '#2E3041' : '#fff'" mode="side" [fixedInViewport]="true" opened>
    <div class="header" [style.background-color]="darkMode ? '#2E3041' : '#fff'">
      <div class="switch-modes" (click)="switchModesHandler()">
        <img [class]="darkMode ? 'dark-mode' : 'light-mode'" [src]="darkMode ? darkModeIcon : lightModeIcon">
      </div>

      <div>
        <img [src]="darkMode ? darkModeBook : lightModeBook">

        <p [style.color]="darkMode ? '#F4F7FA' : '#42526E'">
          Books Library
        </p>
      </div>
    </div>

    <div class="categories">
      <p class="all" [style.color]="darkMode ? '#F4F7FA' : '#42526E'" (click)="allBooksHandler()">
        All
      </p>

      <div *ngFor="let category of categories; let i = index" class="category">
        <div class="category__item" (click)="showCategoryListHandler(i)">
          <div>
            <img [src]="category.icon" [style.margin-left]="category.icon ? '' : '1.5rem'">

            <p [style.color]="darkMode ? '#F4F7FA' : '#42526E'">
              {{ category?.name }}
            </p>
          </div>

          <mat-icon [style.color]="darkMode ? '#F4F7FA' : '#42526E'" class="arrow-downward">
            {{ category?.icon ? 'arrow_downward' : '' }}
          </mat-icon>
        </div>

        <ng-container *ngIf="category.showSubCategories">
          <div class="category__subcategories">
            <div *ngFor="let categoryItem of category.subCategories">
              <span class="dot" [style.background-color]="darkMode ? '#F4F7FA' : '#42526E'"></span>

              <span class="category-item" [style.color]="darkMode ? '#F4F7FA' : '#42526E'" [title]="categoryItem?.name">
                {{ categoryItem?.name }}
              </span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
