<mat-sidenav-container class="sidenav">
  <mat-sidenav mode="side" [fixedInViewport]="true" opened>
    <div class="header">
      <p>dark</p>

      <div>
        <img src="../../../assets/images/book.png">
        <p>Books Library</p>
      </div>
    </div>

    <div class="list">
      <div class="categories">
        <div class="category">
          <div>
            <mat-icon></mat-icon>
            <p>All</p>
          </div>

          <mat-icon></mat-icon>
        </div>

        <div class="category">
          <div>
            <mat-icon>code</mat-icon>
            <p>Programming</p>
          </div>

          <mat-icon class="arrow-downward">arrow_downward</mat-icon>
        </div>

        <div class="category">
          <div>
            <mat-icon>business_center</mat-icon>
            <p>Business</p>
          </div>

          <mat-icon class="arrow-downward">arrow_downward</mat-icon>
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
