@import '../../app.scss';

.mat-drawer-container { position: inherit }
.mat-sidenav { width: 270px }

.sidenav {
  .header {
    display: $displayFlex;
    flex-direction: $flexColumn;
    border-bottom: 2px solid $defaultColor;
    margin-top: 0.5rem;

    p { margin-left: 0.5rem; }

    div {
      display: $displayFlex;
      align-items: center;

      p { font-size: 1.3em; margin: 0 0 0.5rem 0.5rem }
      img { margin: 0 0 0.5rem 0.5rem }
    }
  }

  .categories {
    display: $displayFlex;
    flex-direction: $flexColumn;

    .category {
      margin: 0.3rem;
      cursor: pointer;

      .mat-icon {
        @include flex-content;
        color: $defaultColor;
        font-size: 2em;
      }

      &__item {
        display: $displayFlex;
        justify-content: space-between;
        align-items: center;

        div { display: $displayFlex; margin-left: 0.5rem }
        p { margin-left: $defaultCategoriesSize; font-size: $defaultCategoriesSize }
        .arrow-downward { font-size: $defaultCategoriesSize }
      }

      &__list {
        margin: 0.7rem 0 0 2.6rem;
        animation: top-to-bottom 1s;

        @keyframes top-to-bottom {
          0% { transform: translateY(-17px) }
          100% { transform: translateY(0) }
        }

        div { display: $displayFlex; align-items: center }
        .mat-icon, span { font-size: 0.7em }
      }
    }
  }
}
