@import '../../app.scss';

.mat-drawer-container { position: inherit }
.mat-sidenav { width: 300px }

.dark-sidenav {
  background: #2E3041 !important;

  .dark-header {
    display: $displayFlex;
    flex-direction: $flexColumn;
    border-bottom: 2px solid $defaultColor;
    margin-top: $defaultCategoriesMargin;

    .switch-modes {
      width: 120px;
      height: 40px;
      background: #6f7172;
      border: 2px solid black;
      border-radius: 25px;
      margin: 0 0 $defaultCategoriesMargin $defaultCategoriesMargin;
      cursor: pointer;

      img { margin: 0; width: 40px; }

      .light-mode {
        margin-left: 0;
        animation: light-mode 0.5s;

        @keyframes light-mode {
          0% { transform: translateX(80px) }
          100% { transform: translateX(0) }
        }
      }

      .dark-mode {
        margin-left: 80px;
        animation: dark-mode 0.5s;

        @keyframes dark-mode {
          0% { transform: translateX(-80px) }
          100% { transform: translateX(0) }
        }
      }
    }

    div {
      display: $displayFlex;
      align-items: center;

      p {
        font-size: 1.3em;
        margin: 0 0 $defaultCategoriesMargin $defaultCategoriesMargin;
        color: #F4F7FA;
      }

      img { margin: 0 0 $defaultCategoriesMargin $defaultCategoriesMargin }
    }
  }

  @include categories;
}

.sidenav {
  .header {
    display: $displayFlex;
    flex-direction: $flexColumn;
    border-bottom: 2px solid $defaultColor;
    margin-top: $defaultCategoriesMargin;

    .switch-modes {
      width: 120px;
      height: 40px;
      background: #6f7172;
      border: 2px solid black;
      border-radius: 25px;
      margin: 0 0 $defaultCategoriesMargin $defaultCategoriesMargin;
      cursor: pointer;

      img { margin: 0; width: 40px; }

      .light-mode {
        margin-left: 0;
        animation: light-mode 0.5s;

        @keyframes light-mode {
          0% { transform: translateX(80px) }
          100% { transform: translateX(0) }
        }
      }

      .dark-mode {
        margin-left: 80px;
        animation: dark-mode 0.5s;

        @keyframes dark-mode {
          0% { transform: translateX(-80px) }
          100% { transform: translateX(0) }
        }
      }
    }

    div {
      display: $displayFlex;
      align-items: center;

      p { font-size: 1.3em; margin: 0 0 $defaultCategoriesMargin $defaultCategoriesMargin }
      img { margin: 0 0 $defaultCategoriesMargin $defaultCategoriesMargin }
    }
  }

  @include categories;
}
