<div class="books">
  <div class="header">
    <div>
      <p class="books-library">Books Library</p>
      <p class="subcategories-text">{{ sidenavService.subCategoriesText }}</p>
    </div>
  </div>

  <div class="books-list">
    <div class="books-list__book">
      <img src="../../../assets/images/books_list.png">
    </div>

    <div class="books-list__book">
      <img src="../../../assets/images/books_list.png">
    </div>

    <div class="books-list__book">
      <img src="../../../assets/images/books_list.png">
    </div>

    <div class="books-list__book">
      <img src="../../../assets/images/books_list.png">
    </div>

    <div class="books-list__book">
      <img src="../../../assets/images/books_list.png">
    </div>

    <div class="books-list__book">
      <img src="../../../assets/images/books_list.png">
    </div>

    <div class="books-list__book">
      <img src="../../../assets/images/books_list.png">
    </div>

    <div class="books-list__book">
      <img src="../../../assets/images/books_list.png">
    </div>

    <div class="books-list__book">
      <img src="../../../assets/images/books_list.png">
    </div>
  </div>
</div>