<app-sidenav></app-sidenav>

<div class="books">
  <header>
    <div>
      <div class="info">
        <p class="books-library">Books Library</p>
        <mat-icon routerLink="/add-book">add_circle_outline</mat-icon>
      </div>

      <p class="subcategories-text">{{ booksService.subCategoriesText }}</p>
    </div>
  </header>

  <div class="search-book">
    <input [formControl]="booksService.searchBook" id="search-book" (input)="searchBookHandler()">
    <mat-icon>search</mat-icon>
  </div>

  <ng-container *ngIf="booksService.books.length; else emptyBooks">
    <div class="books-list">
      <div *ngFor="let book of booksService.books | slice: lowValue : highValue" class="books-list__book">
        <a [routerLink]="['/book-detail', navigateByBookName(book.name)]">
          <img [src]="book.image">
        </a>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyBooks>
    <div class="books-list">
      <h1>Ooops:(</h1>
    </div>
  </ng-template>

  <mat-paginator
    class="paginator"
    [length]="booksService.books.length"
    [pageSize]="pageSize"
    (page)="getPaginatorData($event)"
  ></mat-paginator>
</div>
