@mixin flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin categories {
  .categories {
    display: $displayFlex;
    flex-direction: $flexColumn;

    .category {
      margin: 0.7rem;

      .mat-icon {
        @include flex-content;
        color: $defaultColor;
        font-size: 2em;
      }

      &__item {
        display: $displayFlex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        div { display: $displayFlex; margin-left: $defaultCategoriesMargin }
        p { margin-left: 0.7em; font-size: $defaultCategoriesSize }
        .arrow-downward { font-size: $defaultCategoriesSize }
      }

      &__subcategories {
        margin: 0.7rem 0 0 2.7rem;
        cursor: pointer;
        animation: top-to-bottom 0.5s;

        @keyframes top-to-bottom {
          0% { transform: translateY(-17px) }
          100% { transform: translateY(0) }
        }

        div {
          display: $displayFlex;
          align-items: center;
        }

        .mat-icon, span {
          font-size: 0.8em;
          margin: 0.3rem 0;
        }

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}