<div class="container">
  <app-sidenav></app-sidenav>

  <div style="margin-left: 300px;">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa amet reprehenderit aliquam doloremque id, molestiae aliquid temporibus quidem similique omnis nostrum dignissimos voluptatum laudantium! Eos ipsa sed fuga ex inventore.</h1>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa amet reprehenderit aliquam doloremque id, molestiae aliquid temporibus quidem similique omnis nostrum dignissimos voluptatum laudantium! Eos ipsa sed fuga ex inventore.</h1>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa amet reprehenderit aliquam doloremque id, molestiae aliquid temporibus quidem similique omnis nostrum dignissimos voluptatum laudantium! Eos ipsa sed fuga ex inventore.</h1>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa amet reprehenderit aliquam doloremque id, molestiae aliquid temporibus quidem similique omnis nostrum dignissimos voluptatum laudantium! Eos ipsa sed fuga ex inventore.</h1>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa amet reprehenderit aliquam doloremque id, molestiae aliquid temporibus quidem similique omnis nostrum dignissimos voluptatum laudantium! Eos ipsa sed fuga ex inventore.</h1>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa amet reprehenderit aliquam doloremque id, molestiae aliquid temporibus quidem similique omnis nostrum dignissimos voluptatum laudantium! Eos ipsa sed fuga ex inventore.</h1>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa amet reprehenderit aliquam doloremque id, molestiae aliquid temporibus quidem similique omnis nostrum dignissimos voluptatum laudantium! Eos ipsa sed fuga ex inventore.</h1>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa amet reprehenderit aliquam doloremque id, molestiae aliquid temporibus quidem similique omnis nostrum dignissimos voluptatum laudantium! Eos ipsa sed fuga ex inventore.</h1>
  </div>
</div>