@import '../../app.scss';

.details {
  @include flex-content;
  flex-direction: $flexColumn;
  flex-wrap: wrap;
  margin-left: 333px;

  @media (max-width: 900px) { margin-left: 0 }

  .back-btn {
    margin: $defaultMarginSpace 0;
    padding: 0.4rem 2rem;
    font-size: 1em;
    color: $whiteColor;
    background: #42526E;
    border-radius: 25px;
    border: $none;
    outline: $none;
    cursor: $pointer;
  }

  .book-detail {
    @include flex-content;
    flex-direction: $flexColumn;
    margin: $defaultMarginSpace 0;

    .book-name-image {
      display: $displayFlex;
      width: 45%;
      margin-bottom: 2rem;
      @include round-background;

      @media (max-width: 1400px) {
        @include flex-content;
        flex-direction: $flexColumn;
        width: 70%;
      }

      p {
        margin: 0 $defaultMarginSpace;

        @media (max-width: 1400px) {
          margin-top: $defaultMarginSpace;
          text-align: center;
        }
      }

      img { width: 200px }
    }

    .book-description {
      display: $displayFlex;
      flex-wrap: wrap;
      width: 70%;
      margin-bottom: 2rem;
      @include round-background;

      .description { font-size: 1.5em; margin-bottom: 1rem }
    }

    .book-info {
      display: $displayFlex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 70%;
      @include round-background;

      div { margin: $defaultMarginSpace }

      @media (max-width: 1400px) {
        @include flex-content;
        flex-direction: $flexColumn;
        text-align: center;
      }
    }
  }
}
